<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	<!-- namespace是当前接口的命名空间 -->
	<mapper namespace="com.yc.damai.dao.DmOrdersMapper">
		<resultMap type="com.yc.damai.po.DmOrders" id="rmdo">
			<id column="id" property="id"/>
        	<association property="dmOrderitem" column="id"
				select="com.yc.damai.dao.DmOrdersMapper.selectByid">
			</association>
		</resultMap>
  		<select id="selectByid" resultMap="rmdo">
  			select * from dm_orders where id = #{id}
  		</select>
		
		
		
		
		
		
		<!-- 
		<resultMap type="com.yc.damai.po.DmOrderitem" id="rmdo">
			
			<association property="dmProduct" column="pid"
				select="com.yc.damai.dao.DmProductMapper.selectById"></association>
		</resultMap>
		-->
		<!-- 
			id 是该select标签的唯一标识
			resultType 标识返回的结果映射到的实体类的类型
		--><!--  
  		<select id="selectAll" resultMap="rmdo">
    		select * from dm_orderitem
  		</select>
  		
  		<select id="selectById" resultMap="rmdo">
    		select * from dm_orderitem where id = #{id}
  		</select>
  		-->
  		<!-- 参数传入格式: #{实体对象的属性名} -->
  		<!-- 
  		<insert id="insert">
			insert into dm_orderitem values(null, #{cname}, #{pid})
  		</insert>
  		
  		<update id="update">
  			update dm_orderitem set cname = #{cname}, pid = #{pid} where id = #{id}
  		</update>
  		
  		<delete id="delete">
  			delete from dm_orderitem where id = #{id}
  		</delete>
  		 -->
  		
  		
	</mapper>