<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	<!-- namespace是当前接口的命名空间 -->
	<mapper namespace="com.yc.damai.dao.DmProductMapper">
		
		<!-- 自定义的字段映射 -->
		<resultMap type="com.yc.damai.po.DmProduct" id="rmdp">
			<!-- id 用于定义主键映射关系  主键在mybatis有特殊的作业 ==》 缓存 -->
			<id column="id" property="id"/>
			<!-- result 用于定义非主键映射关系 -->
			<result column="market_price" property="marketPrice"/>
			<result column="shop_price" property="shopPrice"/>
			<result column="is_hot" property="isHot"/>
		</resultMap>
		
		<!-- 
			id 是该select标签的唯一标识
			resultType 标识返回的结果映射到的实体类的类型
						简单自动映射
			resultMap  引用自定义映射
		-->
  		<select id="selectAll" resultMap="rmdp">
    		select * from dm_product
  		</select>
  		
  		<select id="selectById" resultMap="rmdp">
    		select * from dm_product where id = #{id}
  		</select>
  		

  		<!-- 作业: 请完成商品表信息增删改查(根据id查) -->
  		<!-- 参数传入格式: #{实体对象的属性名} -->
  		<select id="select" resultType="com.yc.damai.po.DmProduct">
    		select * from dm_product where id = #{id}
  		</select>
  
  		<insert id="insert1">
			insert into dm_product values(null, #{pname}, #{marketPrice}, #{shopPrice}, null, #{pdesc}, #{isHot}, null, #{cid})
  		</insert>
  		
  		<update id="update1">
  			update dm_product set market_price = #{marketPrice}, shop_price = #{shopPrice}, is_hot = #{isHot}, cid = #{cid} where id = #{id}
  		</update>
  		
  		<delete id="delete1">
  			delete from dm_product where id = #{id}
  		</delete>
  		
	</mapper>