<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	<!-- namespace是当前接口的命名空间 -->
	<mapper namespace="com.yc.damai.dao.ProductMapper">
		<!-- 
			id 是该select标签的唯一标识
			resultType 标识返回的结果映射到的实体类的类型
		-->
  		<select id="selectAll" resultType="com.yc.damai.po.DmProduct">
    		select * from dm_product
  		</select>
  
  		<!-- 参数传入格式: #{实体对象的属性名} -->
  		<insert id="insert">
			insert into dm_category values(null, #{cname}, #{pid})
  		</insert>
  		
  		<update id="update">
  			update dm_category set cname = #{cname}, pid = #{pid} where id = #{id}
  		</update>
  		
  		<delete id="delete">
  			delete from dm_category where id = #{id}
  		</delete>
  		
  		<!-- 作业: 请完成商品表信息增删改查(根据id查) -->
  		<select id="select" resultType="com.yc.damai.po.DmProduct">
    		select * from dm_product where id = #{id}
  		</select>
  
  		<insert id="insert1">
			insert into dm_product values(null, #{pname}, #{marketPrice}, #{shopPrice}, null, #{pdesc}, #{isHot}, null, #{cid})
  		</insert>
  		
  		<update id="update1">
  			update dm_product set market_price = #{marketPrice}, shop_price = #{shopPrice}, is_hot = #{isHot}, cid = #{cid} where id = #{id}
  		</update>
  		
  		<delete id="delete1">
  			delete from dm_product where id = #{id}
  		</delete>
  		
	</mapper>